.button {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: purple;

  &:hover {
    background-color: #a500a5;
    transition: .2s ease-in-out all;
  }
}

.disabled {
  cursor: not-allowed;
  background-color: #a261a2;

  &:hover {
    background-color: #a261a2;
  }
}