.pay-bill {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &__title {
    color: white;
    text-align: center;
    background-color: purple;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
  }

  &__form {
    width: 500px;
    padding: 20px;
    border: 1px solid purple;
    border-radius: 0px 0px 20px 20px;
  }

  &__add-person-wrapper {
    width: 100%;
    border-bottom: 1px solid purple;
    padding-bottom: 30px;
    margin-bottom: 10px;

    &__add-person {
      display: flex;
      justify-content: space-between;
    }

    & input {
      margin-right: 10px;
      width: 100%;
    }
  }
}