@import "./styles/_colors.scss";

.black-100 {
  color: $black-100;
}

.App {
  text-align: center;
}

.mr-10 {
  margin-right: 10px;
}

.text-red-500 {
  color: #d21616;
}

@for $percent from 1 through 100 {
  .w-#{$percent} {
    width:  #{$percent + "%"} !important;
  }
}

@for $pixels from 1 through 50 {
  .my-#{$pixels} {
    margin-top: #{$pixels + "px"} !important;
    margin-bottom: #{$pixels + "px"} !important;
  }
}

@for $pixels from 1 through 50 {
  .mx-#{$pixels} {
    margin-left: #{$pixels + "px"} !important;
    margin-right: #{$pixels + "px"} !important;
  }
}

@for $pixels from 1 through 50 {
  .py-#{$pixels} {
    padding-top: #{$pixels + "px"} !important;
    padding-bottom: #{$pixels + "px"} !important;
  }
}

@for $pixels from 1 through 50 {
  .px-#{$pixels} {
    padding-left: #{$pixels + "px"} !important;
    padding-right: #{$pixels + "px"} !important;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rounded {
  border-radius: 2px 2px 2px 2px;
  border: 1px solid purple;
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 20px 20px 20px 20px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 5px !important;
  background: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px !important;
  background: #888;
  border-radius: 20px 20px 20px 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 5px !important;
  background: #555;
  border-radius: 20px 20px 20px 20px;
}