.total-bill {
  border: 1px solid purple;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {
      border-bottom: 1px solid purple;
      background-color: #81018125;
    }
  }
}